<section>
    <div class="container signform">


        <div class="row">
            <div style="margin-left: 10px; color: #fff; ">
                <h4>Hello, Joe</h4>
                <p>Plan a shift by filling in the following details:</p>
                <p style="font-size:13px;">shift sector</p>

            </div>
            <div class="input-field col s12 m6">

                <select class="browser-default">
                    <option value="" disabled selected>Choose divison</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
            <div class="input-field col s12 m6">

                <select class="browser-default">
                    <option value="" disabled selected>Choose NPC</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>

            </div>
            <div class="input-field col s12 m4">
                <label>Team Name</label>
                <input type="text" name="Name" placeholder="Team Name" autocomplete="on" required>

            </div>
            <div class="input-field col s12 m4">
                <label>Driver Name</label>
                <input type="text" name="Name" placeholder="Driver Name" autocomplete="on" required>
            </div>
            <div class="input-field col s12 m4">
                <label>Petrolman</label>
                <input type="text" name="Name" placeholder="Petrolman" autocomplete="on" required>
            </div>
            <div class="input-field col s12 m6">
                <label>sector</label>
                <input type="text" name="Name" placeholder="sector" required>
            </div>
            <div class="input-field col s12 m6">
                <label>call sign</label>
                <input type="text" name="Name" placeholder="call sign" required>
            </div>

            <label>shift time</label>
            <div class="shift">
                <form action="#">
                    <p>
                        <label>
                            <input name="group1" type="radio" class="with-gap" checked />
                            <span>Day Shift</span>
                        </label>
                        <label>
                            <input name="group1" type="radio" class="with-gap" />
                            <span>Night Shift</span>
                        </label>
                    </p>
                    </form>
            </div>
        </div>
    </div>
</section>